{% extends 'base.html' %}

{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'feedback/css/feed.css' %}">
{% endblock %}

{% block title %}
    Все отзывы
{% endblock %}

{% block content %}
    <ol>
    {% for feed in feedback %}
        <li>
            <a href="{% url 'detail_feedback' feed.id%}">
                <div class="feedback">
                    Имя - {{ feed.name }}<br>
                    Фамилия - {{ feed.surname }}<br>
                    Рейтинг - {{ feed.rating }}<br>
                    ID - {{ feed.id }}<br>
                </div>
            </a>
        </li>
    {% endfor %}
    </ol>
{% endblock %}